@page "/makejournal"

<h3>تسجيل قيود محاسبية</h3>

@inject MakeJournalServecs _makeJournalServecs

<MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.MoveUp" @onclick="()=>Upsert1(0)" />
<MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.MoveToInbox" @onclick="()=>Upsert2(0)" />


<MudTable Items="@makeJournalBodys" FixedHeader="@fixed_header" FixedFooter="@fixed_footer" Height="@(fixed_header || fixed_footer ?"400px":"")">
    <HeaderContent>
        <MudTh>ت</MudTh>
        <MudTh>رقم الحساب</MudTh>
        <MudTh>اسم الحساب</MudTh>
        <MudTh>البيان</MudTh>
        <MudTh>مدين</MudTh>
        <MudTh>دائن</MudTh>
        <MudTh>مركز التكلفة</MudTh>
        <MudTh>التاريخ</MudTh>
        <MudTh>رقم القيد</MudTh>




    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="ت">@(makeJournalBodys.ToList().IndexOf(context) + 1)</MudTd>
         <MudTd DataLabel="رقم الحساب">@context.Accounts.NumberAccount</MudTd>
        <MudTd DataLabel="اسم الحساب">@context.Accounts.NameAccount</MudTd>
            <MudTd DataLabel="البيان">@context.Details</MudTd>
            <MudTd DataLabel="مدين">@context.Debit </MudTd>
            <MudTd DataLabel="دائن">@context.Credit </MudTd>
            <MudTd DataLabel="مركز التكلفة">@context.costCenters.NameCostCenter </MudTd>
           
       
            @* <MudTd DataLabel="مركز التكلفة">@context.costCenters.NameCostCenter</MudTd> *@

        </RowTemplate>

        <PagerContent>
            <MudTablePager PageSizeOptions="new int[]{50, 100}" />
        </PagerContent>
    </MudTable>

    <MudSwitch @bind-Checked="@fixed_header">Fixed Header</MudSwitch>

    @code {
    DateTime? date = DateTime.Today;
    bool fixed_header = true, loading = true;
    bool fixed_footer = false;
    public string TextValue { get; set; }
    private IEnumerable<MakeJournalBody> makeJournalBodys = new List<MakeJournalBody>();
    MudMessageBox mbox { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LodingData();
    }
    async Task LodingData()
    {
        loading = true;
        makeJournalBodys = new List<MakeJournalBody>();
        StateHasChanged();
        makeJournalBodys = await _makeJournalServecs.GetAllMakeJournalsAsync();
        loading = false;
        StateHasChanged();
    }
    void Upsert1(int id)
    {
        _navigation.NavigateTo("/upsertCostCenter");

    }

    void Upsert2(int id)
    {
        _navigation.NavigateTo($"/upsertMakejournal/{id}");

    }
}